@import 'antd/dist/reset.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box; 
  border-width: 0;
  border-style: solid; 
  border-color: theme('borderColor.DEFAULT', currentColor); 
  font-family: serif;
}

::before,
::after {
  --tw-content: '';
}




